/Library
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/*.csproj
/DarkSaverWorld.sln
/DarkSaverWorld.slnx
/DarkSaverWorld.sln.DotSettings.user
/Logs
/UserSettings
/obj/Debug
/.idea/.idea.DarkSaverWorld/.idea
/.vscode/extensions.json
/.vscode/launch.json
/Temp

.utmp
.DS_Store
